* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  /* margin: 0;
  padding: 0; */
}

p {
  margin-top: 1rem; /* margin instead of padding so <p> wont affect itself twice with 1rem top&bottom... */
  margin-bottom: 1rem;
  font-size: 1rem;

}

h1 {
  padding-left: 1rem;
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

button {
  font-size: 1rem;
}

/* .body-container {

} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  box-sizing: border-box;
  /* width: 768px; */
 /*  width: 100%; */
}

.nav-header-hamburger {
  padding: 1rem;
}

.nav-header {
  display: none; /* display: flex; in @media (min-width: 768px) */
  text-align: center;
  padding: 1rem;
}

.nav-header a { 
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

img, .catGrid {
  max-width: 1000px; /* to not infinetly grow... */
}

main {
  display: flex;
  /* justify-content: center; */

  box-sizing: border-box;
  /* width: 768px; */
}

.container {
  display: flex;
  flex-direction: column;
  /* width: 768px; */
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 30px; /* adds gaps to the sides as well... not just between the text and image */
 /*  width: 100%; */
}

.section1Text {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  text-align: center;

}

.section1 h2 {
  font-size: 2.2rem;
}

.section1Text p {
  padding: 0 2rem
}

.section1-img-container {
  display: flex;
  justify-content: center;
  max-height: 50%;
}

.section1 img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.section1 h2 {
 /*  font-size: 2.5rem; */
}

.button-container {
  align-self: center;
}

.button {  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #555;
  color: #fff;
 /*  padding: 10px 20px; */
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section2 img {
  width: 100%;
}

.section3 {
  display: flex;
  flex-direction: column;
}

.section3TextandGrid {
  /* display: flex;
  flex-direction: column;
  margin: 0 10rem; */
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 100%; /* not needed? because 1fr 1fr 1fr?*/
}

.catGrid img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  html {
  /*   font-size: 16px; */
  }

  main {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  nav {
   /*  display: flex; */
  }
  .nav-header-hamburger {
    display: none;
  }

  .nav-header {
    display: flex;
  }

  .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .section1Text {
    width: 50%;
    padding-right: 2rem;
  }
  
  .section1-img-container {
    max-height: none;
    width: 50%;
  }
  
  .section1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .section1Text p {
    padding: 0;
  }

  .section1Text {
    text-align: start;
  }

  .button-container {
    align-self: start;
  }

}

@media (max-width: 480px) {
  html {
    font-size: 11px;
  }

  .section1 h2 {
    font-size: 2rem;
  }

  .section1Text p {
    padding: 0;
  }
}

@media (max-width: 768px) {
  
}